<.header class="pt-4 pb-8">
  Edit Game {@game.id}
</.header>

<.section_title>Result</.section_title>

<.game_result game={@game} />

<.section_title class="pt-8">Edit</.section_title>

<.game_form
  changeset={@changeset}
  action={~p"/tournaments/#{@game.tournament_id}/games/#{@game}"}
/>

<.back navigate={~p"/tournaments/#{@game.tournament_id}"}>Back to tournament</.back>
