<.header>
  New Tournament
  <:subtitle>Use this form to manage tournament records in your database.</:subtitle>
</.header>

<.tournament_form changeset={@changeset} action={~p"/tournaments"} />

<.back navigate={~p"/tournaments"}>Back to tournaments</.back>
