<.header>
  Edit Round {@round.id}
  <:subtitle>Use this form to manage round records in your database.</:subtitle>
</.header>

<.round_form
  changeset={@changeset}
  action={~p"/tournaments/#{@round.tournament}/rounds/#{@round}"}
/>
