<.header class="pt-4">
  Round <%= @round.number %> pairings
  <:actions>
    <.link href={~p"/tournaments/#{@round.tournament_id}/rounds/#{@round}"}>
      <.button>View games</.button>
    </.link>
  </:actions>
</.header>

<%= live_render(
  @conn,
  ElswisserWeb.RoundLive.Pairing,
  session: %{
    "round_id" => @round.id,
    "round_number" => @round.number,
    "tournament_id" => @tournament.id,
    "roster" => @tournament.players
  }
) %>
