<.simple_form :let={f} for={@changeset} action={@action}>
  <.error :if={@changeset.action}>
    Oops, something went wrong! Please check the errors below.
  </.error>
  <.input field={f[:number]} type="number" label="Number" />
  <.input field={f[:tournament_id]} type="number" label="Tournament" />
  <:actions>
    <.button>Save Round</.button>
  </:actions>
</.simple_form>
