<.header class="pt-4">
  Round <%= @round.number %> games
  <:actions>
    <.link href={~p"/tournaments/#{@round.tournament_id}/rounds/#{@round}/pairings"}>
      <.button>View pairings</.button>
    </.link>
  </:actions>
</.header>

<%= live_render(
  @conn,
  ElswisserWeb.RoundLive.Round,
  session: %{"round_id" => @round.id}
) %>
