<div class="w-full pb-8">
  <.section_title>Select player</.section_title>

  <.condensed_list>
    <:item title="Score"></:item>
    <:item title="Rating"></:item>
    <:item title="# White"></:item>
    <:item title="# Black"></:item>
  </.condensed_list>
</div>
<div class="w-full">
  <.section_title class="mb-4">Tournament History</.section_title>
</div>
